@page "/hotel-room"

@using Models
@using Business.Repository.IRepository
@inject IHotelRoomRepository hotelRoomRepository
@inject IJSRuntime jsRuntime
@inject BlazorApp_Server.Service.IService.IFileUpload fileUploadService
@inject NavigationManager navigator
@attribute [Authorize(Roles =Common.SD.Role_Admin)]

<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">HotelRoomList</h4>
    </div>
    <div class="col-3 offset-1">
        <NavLink href="hotel-room/create" class="btn btn-info form-control">Add New Room</NavLink>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Occupancy</th>
                    <th>Rate</th>
                    <th>Sqrt</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (HotelRooms.Any())
                {
                    foreach (var room in HotelRooms)
                    {
                        <tr>
                            <td>@room.Name</td>
                            <td>@room.Occupancy</td>
                            <td>@room.RegularRate.ToString("c")</td>
                            <td>@room.SqFt</td>
                            <td>
                                <NavLink href="@($"hotel-room/edit/{room.Id}")" class="btn btn-primary">Edit</NavLink>
                                <button class="btn btn-danger" @onclick="()=>HandleDelete(room.Id)">Delete</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">No records found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<DeleteConfirmation ProcessSignalFromParent="IsProcessing" ConfirmationChanged="ConfirmDelete_Click"></DeleteConfirmation>

@code {
    private IEnumerable<HotelRoomDTO> HotelRooms { get; set; } = new List<HotelRoomDTO>();
    private int? deleteRoomId { get; set; } = null;
    private bool IsProcessing { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {
        HotelRooms = await hotelRoomRepository.GetAllHotelRooms();
    }

    private async Task HandleDelete(int roomId)
    {
        deleteRoomId = roomId;
        await jsRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }

    public async Task ConfirmDelete_Click(bool isConfirmed)
    {
        IsProcessing = true;
        if (isConfirmed && deleteRoomId != null)
        {
            HotelRoomDTO hotelRoom = await hotelRoomRepository.GetHotelRoom(deleteRoomId.Value);
            foreach (var image in hotelRoom.HotelRoomImages)
            {
                var imgName = image.RoomImageUrl.Replace($"{navigator.BaseUri}RoomImages/", "");
                fileUploadService.DeleteFile(imgName);
            }
            await hotelRoomRepository.DeleteHotelRoom(deleteRoomId.Value);
            await jsRuntime.SwalSuccess("Deleted Successfully");
            HotelRooms = await hotelRoomRepository.GetAllHotelRooms();
        }
        await jsRuntime.InvokeVoidAsync("HideDeleteConfirmationModal");
        IsProcessing = false;
    }


}
